body {
    /*background-color: darkgrey;*/
    background-color: #FFFFFF;
}

.bg-dark {
    background-color: #000000 !important;
}

.alert-info {
    color: #FEA680 !important;
    background-color: #000000 !important;
    border-color: #bee5eb;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 0px !important;
    list-style: none;
    background-color: #fedc3d !important;
    border-radius: .25rem;
}

.breadcrumb a {
    color: #000000 !important;
}

footer a {
    color: #fedc3d !important;
}

footer p {
    color: #d3294f;
}

footer {
    background-color: #000000;
    padding: 20px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #01abaaa6 !important;
    border-radius: .3rem;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w100 {
    width: 100px;
}

.h100 {
    height: 100px;
    width: 100px;
}

.derecha {
    float: right;
}

.generos {
    margin: 20px;
}

.generos .card {
    margin-left: 5px;
}

.margen-inferior {
    margin-bottom: 60px;
}